:root {
    --numRows: 16;
    --gridWidth: 400px;
}

html {
    background-color: lightskyblue
}

#gridContainer {
    display: grid;
    width: var(--gridWidth);
    height: var(--gridWidth);
    justify-content: stretch;
    grid-template-columns: repeat(var(--numRows), 1fr);
    grid-gap: 1px;

}

.gridBox {
    background-color: white;
}

.drawingColor:focus {
    background-color: gray;
}